{% extends 'base.html.twig' %}

{% block title %}Forget Password
{% endblock %}

{% block body %}
	<section class="container d-flex justify-content-center py-5 min-height align-items-center">
		<div class="row">
			<div class="col">
				<h1>Forget Password</h1>
				{{form_start(form)}}
				{{form_row(form.username)}}
				<button type="submit" class="btn btn-primary">Ask for reset password</button>
				{{form_end(form)}}

			</div>
		</div>
	</section>
{% endblock %}
