{% extends 'base.html.twig' %}

{% block title %}Reset Password
{% endblock %}

{% block body %}
	<section class="container d-flex justify-content-center py-5 min-height align-items-center">
			<div class="col-12 col-sm-12 col-md-8 col-lg-6">
				<h1>Reset Password</h1>
				{{form_start(form)}}
				{{form_row(form.username)}}
				{{form_row(form.password)}}
				<button type="submit" class="btn btn-lg btn-primary">Reset Password</button>
				{{form_end(form)}}

		</div>
	</section>
{% endblock %}
