<div class="comment-teaser col-md-12 col-lg-12">
    <div class="left">
        <img src="{{asset('assets/img/default.jpg')}}">
    </div>

    <div class="right">
        <div class="user-name">
            USERNAME
        </div>
        <div class="created-at">
            {{comment.createdAt|date('d-M-Y')}}
        </div>
        <div class="content">
            {{comment.content}}
        </div>
    </div>
</div>