.trick-single .trick-name{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.container-panel{
    top: 2rem;
    right: 2rem;
    background-color: white;
    padding: 1rem 2rem;
    z-index: 10;
}

.container-panel a{
    text-decoration: none;
}

.trick-single .gallery{
    display: none;
    margin: 5rem 0;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 3rem;
    flex-wrap: wrap;
}

.see_media{
    display: block;
    max-width: 20rem;
    margin: 5rem auto;
    
}
.no_see_media{
    display: none;
    max-width: 20rem;
    margin: 5rem auto;
}

.trick-single .image{
    position: relative;
    width: 100%;
}

.trick-single .gallery img,.trick-single .gallery iframe{
    width: 100%;
    max-width: calc(100%);
    max-height: 20rem !important;max-width: calc(100% - 2.25rem);
    height: 20rem !important;
    object-fit: cover;
    position: relative !important;
}
@media screen and (min-width: 992px) {
    .trick-single .gallery img,.trick-single .gallery iframe{
        max-width: calc(33% - 1.7rem);
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .trick-single .gallery img,.trick-single .gallery iframe{
        max-width: calc(50% - 1.5rem);
    }
}
.trick-single .gallery > p, .trick-single .gallery > div{
    display: none;
}

.trick-single .gallery.visible{
    display: flex;
}

.trick-single .description{
    margin: 5rem 0;
}

.trick-single .meta{
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.trick-single .comments{
    max-width: 100%;
}
.trick-single .comments-trick{
    max-width: 96rem;
    margin: 10rem auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.comments-trick .title{
    margin-bottom: 5rem;
}

.trick-single .comments-trick .comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}


.trick-single .comments-trick .loadmore{
    margin-top: 5rem;
    text-align: center;
}

.trick-single .add_comment{
    width: 100%;
}

.trick-single .add_comment textarea{
    min-height: 20rem;
    resize: none;
}

.trick-single .add_comment{
    border-bottom: 0.1rem solid black;
    border-top: 0.1rem solid black;
    padding: 5rem 0rem 2rem;
}

@media screen and (min-width: 992px) {
    .trick-single .see_media, .trick-single .no_see_media{
        display: none;
    }
    .trick-single .gallery{
        display: flex;
    }
}

/* When on edit page */

.trick-single .image a > img,
.trick-single .video a > img{
    width: 100% !important;
    height: auto !important;
    max-width: none !important;
}

.image > img,
.video > iframe{
    width: 100% !important;
    max-width: none !important;
}

.image .delete, 
.video .delete{
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 1000;
    width: 4rem;
}

.video .modify{
    position: absolute;
    right: 8rem;
    top: 2rem;
    z-index: 500;
    width: 4rem;
    
}

.video .modify img{
    max-width: none;
    object-fit: unset;
    width: 4rem !important;
    height: 4rem !important;
}

.gallery .video{
    position: relative;
}

@media screen and (min-width: 992px) {
    .trick-single .gallery .image{
        max-width: calc(33% - 1.7rem);
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .trick-single .gallery .image{
        max-width: calc(50% - 1.5rem);
    }
}

.trick-single form{
    width: 100%;
}

.modify .icon{
    width: 2rem;
    height: 2rem;
}
.modify .icon img{
    width: 100%;
}

.input-form{
    display: none;
}

.trick-single .input-form{
    color: black;
    padding: 2rem;
    gap: 2rem;
}

.modifing{
    position: fixed;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50vh;
    width: 50vw;
    background-color: white;
    z-index: 10000000;
}

#trick_videos fieldset{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    width: 50vw;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    z-index: 10000;
}

#trick_videos fieldset .close{
    align-self: center;
}