{% extends 'page.html.twig' %}

{% block title %}
    Bienvenue sur SnowTricks
{% endblock %}

{% block content %}

    <div class="hero">
        <div class="">
            <div class="hero_background"></div>
            <div class="text_hero column flex position-absolute">
                <h1 class="title">
                    SnowTricks
                </h1>
                <h2 class="subtitle h4_style">
                    Découvrez la magie des figures mystérieuses dans la neige et laissez-vous emporter par leur beauté éphémère.
                </h2>
            </div>
            <img src="{{asset('assets/img/homepage.jpg')}}">
        </div>
    </div>

    <div class="tricks-homepage" id="tricks-homepage">

    </div>
    
{% endblock %}