<p>Dear {{user.username}},</p>

<p>We've received a request to reset your password for your SnowTricks account. To create a new password and regain access to your account, please follow the instructions below:

Click the following link or copy and paste it into your web browser:</p>

<p><a href="{{absolute_url(url)}}">reset password here</a></p>

<p>You'll be taken to a page where you can enter a new password for your account.

If you didn't request a password reset, please disregard this email. Your current password will remain unchanged.

For security reasons, this link will expire in 15 minutes, so please make sure to reset your password promptly.

If you need any assistance or have questions, don't hesitate to reach out to our support team at <strong><a href="mailto:snowtricks-support@snowtricks.com">snowtricks-support@snowtricks.com</a></strong>.</p>

<p>Best regards,</p>
<p>The SnowTricks Team</p>